.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 507px;
}

.u-section-1 .u-list-1 {
  width: 757px;
  min-height: 445px;
  grid-gap: 100px 100px;
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  margin: 31px auto;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(white, #858e99);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 94px;
  height: 94px;
  background-image: url("images/depositphotos_-1.png");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 31px 1px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  font-style: italic;
  text-decoration: underline !important;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(white, #858e99);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 94px;
  height: 94px;
  background-image: url("images/FAVPNG_user-logo-industry_MmvviZHz-3.png");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 31px 1px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-style: italic;
  text-decoration: underline !important;
  margin: 20px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-list-1 {
    min-height: 295px;
    grid-template-columns: repeat(2, calc(50% - 50px));
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
  }

  .u-section-1 .u-image-2 {
    width: 95px;
    height: 95px;
  }

  .u-section-1 .u-btn-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}